body{
    background-color: #e6e6ff ;
}

#header {
   width: 100vw;
}

#vjudge {
    float: center;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 5vw;
}


#credits {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75vw;
    width: 40vw;
}

@media screen and (min-width: 1200px){
    #header {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 800px;
     }
     
     #vjudge {
         float: left;
         width: 300px;
         margin-left: 25%;
         margin-top: 3vw;
     }
     
     #credits {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40vw;
        width: 20vw;
    }
     
}
